html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  line-height: 27px;
}

a {
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
}

ul {
  margin-bottom: 0;
}
